/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .mainText .mainTitle {
    font-size: 20vh;
    letter-spacing: 2.5vh;
  }

  .mainText img {
    height: 8vh;
    margin-bottom: 0.5vh;
  }

  .moduleName {
    text-align: center;
    font-size: 16vh;
    letter-spacing: 1.5vh;
  }

  #codifica .moduleName {
    font-size: 10vh;
  }

  .moduleDescription {
    text-align: center;
    font-size: 2.5vh;
  }

  .module {
    margin-bottom: 10vh;
  }

  .module-top {
    flex-direction: column;
  }

  .module-logo {
    display: none;
  }

  .expander {
    margin-top: 4vh;
    justify-content: center;
  }

  .expander-button {
    text-align: center;
    font-size: 2.5vh;
    width: 30%;
  }

  .collapser {
    margin-top: 4vh;
    justify-content: center;
    margin-bottom: 4vh;
  }

  .collapsing-button {
    text-align: center;
    font-size: 2.5vh;
    width: 30%;
  }

  .subevent {
    margin: 0 10% 5% 10%;
    border: 1px solid white;
    padding: 3vh;
    width: 50%;
  }

  .subeventName {
    font-size: 5vh;
    letter-spacing: 1vh;
  }

  .subeventDescription {
    font-size: 2vh;
  }

  .explore {
    margin-top: 3vh;
  }

  .explore-button {
    font-size: 1.8vh;
  }

  .explore img {
    height: 3vh;
  }

  .rotating-text {
    /* padding: 2em 5em; */
    font: normal 30px/40px Montserrat, sans-serif;
    color: #999;
  }

  .rotating-text p {
    height: 40px;
    float: left;
    margin-right: 10px;
  }

  .rotating-text b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 40px;
  }

  .rotating-text .innerrotating-text {
    display: inline-block;
    color: #fff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  .stars-lg:before,
  .stars-lg:after {
    display: none;
  }

  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -40px;
    }
    40% {
      top: -80px;
    }
    60% {
      top: -120px;
    }
    80% {
      top: -160px;
    }
  }

  /* Subevents Border Animation */
  :root {
    --color-first: hsl(0, 0%, 100%);
    --color-second: hsla(256, 100%, 16%, 0);
    --color-third: hsla(0, 0%, 100%, 0);
    --color-forth: hsl(0, 0%, 100%);
    --block-width: 50vw;
    --block-height: 50vh;
    --border-width: 8px;
    --border-radius-outer: 0px;
    --border-radius-inner: calc(var(--border-radius-outer) / 2);
    --font-plain: "IBM Plex Sans", sans-serif;
    --font-special: "Fredoka One", sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }

  .subevent-border-container {
    width: var(--block-width);
    height: var(--block-height);
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
    border-radius: var(--border-radius-outer);
    margin-bottom: 10%;
  }

  .subevent-border-container:hover {
    transform: scale(1.1);
    --color-first: hsl(0, 0%, 100%);
    --color-second: hsl(0, 0%, 100%);
    --color-third: hsl(0, 0%, 100%);
    --color-forth: hsla(0, 0%, 100%, 0);
  }

  .subevent-border-animation {
    width: 100%;
    height: 100%;
    -webkit-animation: o-rotate-360 linear 8s infinite;
    animation: o-rotate-360 linear 8s infinite;
  }

  .subevent-border-animation span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
  }

  .subevent-border-animation span:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
  }
  .subevent-border-animation span:first-child {
    background: var(--color-first);
  }
  .subevent-border-animation span:first-child:after {
    background: var(--color-second);
  }
  .subevent-border-animation span:last-child {
    background: var(--color-third);
  }
  .subevent-border-animation span:last-child:after {
    background: var(--color-forth);
  }

  .subevent {
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    background: #000;
    padding: 1.2rem 1rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius-inner);
  }

  @-webkit-keyframes o-rotate-360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes o-rotate-360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
